//  Color Variables
$darkcyan: hsl(179, 81%, 29%);
$darkgreyblue: hsl(215, 19%, 25%);
$paleorange: hsl(25, 94%, 86%);
$lightcream: hsl(43, 78%, 98%);
$grey: hsl(215, 5%, 54%);
$white-text: #fefcf7;

//  Button Variables

$mainbutton-default: #0e8784;
$mainbutton-hover: #66d2cf;
$mainbutton-disabled: #e2dedb;

//  Big Selection Variables

$bigselection-default: #f4f1eb;
$bigselection-hover: #fdd6ba;
$bigselection-active: #0e8784;

//  Accordion Menu Variables

$menuclosed_open-default: #0e8784;
$menuclosed_open-hover: #66d2cf;

$mobile: 375px;
$tablet: 768px;

@mixin mobile {
  @media (min-width: $mobile) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $tablet) {
    @content;
  }
}
