* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2rem;
  width: 90vw;
  margin: 0 auto;
}

.navbar-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar li {
  list-style: none;
}

.navbar-item {
  text-decoration: none;
  display: block;
  margin-right: 0.5rem;
  padding: 0.8rem;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  color: #848990;
}

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30px;
  height: auto;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  margin-top: 2rem;
}

input[type="checkbox"] {
  display: none;
  visibility: hidden;
}

.middle {
  height: 3px;
  width: 1.875rem;
  background-color: black;
  border-radius: 3.125rem;
  position: absolute;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.top {
  bottom: 5px;
  height: 3px;
  width: 1.875rem;
  background-color: black;
  border-radius: 3.125rem;
  position: absolute;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.bottom {
  top: 10px;
  height: 3px;
  width: 1.875rem;
  background-color: black;
  border-radius: 3.125rem;
  position: absolute;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

input[type="checkbox"]:checked ~ .toggle-button .top {
  -webkit-transform: rotate(-50deg);
          transform: rotate(-50deg);
  width: 1.56rem;
  -webkit-transform-origin: right;
          transform-origin: right;
  top: -10px;
}

input[type="checkbox"]:checked ~ .toggle-button .bottom {
  -webkit-transform: rotate(50deg);
          transform: rotate(50deg);
  width: 1.56rem;
  -webkit-transform-origin: right;
          transform-origin: right;
  top: 10px;
}

input[type="checkbox"]:checked ~ .toggle-button .middle {
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px);
  opacity: 0;
}

@media (max-width: 768px) {
  .toggle-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: -webkit-gradient(linear, left top, left bottom, from(#fefcf7), color-stop(55%, #fefcf7), to(rgba(254, 252, 247, 0.504981)));
    background: linear-gradient(#fefcf7, #fefcf7 55%, rgba(254, 252, 247, 0.504981));
    width: 80%;
    height: auto;
    margin: 2rem auto;
    text-align: center;
    display: none;
  }
  .navbar-links ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navbar-links.active {
    display: block;
    position: absolute;
    margin: 0 auto;
    top: 85px;
    left: 10%;
    padding-bottom: 2rem;
    font-size: 2rem;
    height: 80vh;
  }
}

.hero__container {
  background-image: url("../assets/about/mobile/image-hero-whitecup.jpg");
  background-position: center;
  background-size: contain;
  height: 500px;
  width: 327px;
  margin: 3rem auto;
  border-radius: 10px;
}

@media (min-width: 768px) {
  .hero__container {
    background-image: url("../assets/about/tablet/image-hero-whitecup.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 400px;
    width: 689px;
    margin: 3rem auto;
    border-radius: 10px;
  }
}

@media (min-width: 768px) and (min-width: 1440px) {
  .hero__container {
    background-image: url("../assets/about/desktop/image-hero-whitecup.jpg");
    width: 1280px;
    height: 450px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.hero__container--title {
  font-family: "Fraunces", serif;
  font-weight: bold;
  font-size: 2.5rem;
  padding-top: 6rem;
  text-align: center;
  color: #fefcf7;
}

@media (min-width: 768px) {
  .hero__container--title {
    width: 60%;
    font-size: 3.5rem;
    text-align: left;
    margin-left: 2rem;
  }
}

@media (min-width: 1440px) {
  .hero__container--title {
    font-size: 4.5rem;
    width: 493px;
  }
}

.hero__container--description {
  font-family: "Barlow", sans-serif;
  color: #fefcf7;
  padding-top: 2rem;
  text-align: center;
  margin: 0 auto;
  line-height: 25px;
}

@media (min-width: 768px) {
  .hero__container--description {
    width: 64%;
    float: left;
    margin-left: 2rem;
    line-height: 25px;
    text-align: left;
  }
}

@media (min-width: 1440px) {
  .hero__container--description {
    font-size: 1.3rem;
    width: 41%;
    line-height: 35px;
  }
}

@media (min-width: 768px) {
  .commitment__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 1440px) {
  .commitment__container {
    height: 10vh;
  }
}

@media (min-width: 768px) {
  .commitment__container--headingBox {
    margin: 0 auto;
  }
}

.commitment__container--img {
  background-image: url("../assets/about/mobile/image-commitment.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 400px;
  width: 327px;
  margin: 3rem auto;
  border-radius: 10px;
}

@media (min-width: 768px) {
  .commitment__container--img {
    background-image: url("../assets/about/tablet/image-commitment.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 470px;
    width: 281px;
    margin: 3rem auto;
    border-radius: 10px;
  }
}

@media (min-width: 1440px) {
  .commitment__container--img {
    background-image: url("../assets/about/desktop/image-commitment.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 606px;
    width: 510px;
    margin: 3rem auto;
    border-radius: 20px;
  }
}

.commitment__container--title {
  font-family: "Fraunces", serif;
  font-weight: bold;
  font-size: 2.5rem;
  padding-top: 6rem;
  text-align: center;
  color: #343e4c;
}

@media (min-width: 768px) {
  .commitment__container--title {
    font-size: 2.5rem;
  }
}

@media (min-width: 1440px) {
  .commitment__container--title {
    text-align: unset;
    font-size: 3rem;
  }
}

.commitment__container--description {
  font-family: "Barlow", sans-serif;
  color: #343e4c;
  padding-top: 2rem;
  text-align: center;
  margin: 0 auto;
  line-height: 25px;
  width: 327px;
}

@media (min-width: 768px) {
  .commitment__container--description {
    width: 339px;
    line-height: 25px;
    text-align: justify;
    font-size: 0.9rem;
  }
}

@media (min-width: 1440px) {
  .commitment__container--description {
    font-size: 1.3rem;
    width: 540px;
    line-height: 35px;
  }
}

.uncompromising__container--img {
  background-image: url("../assets/about/mobile/image-quality.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 156px;
  width: 279px;
  margin: 3rem auto;
  border-radius: 10px;
  position: relative;
  top: 90px;
}

@media (min-width: 768px) {
  .uncompromising__container--img {
    background-image: url("../assets/about/tablet/image-quality.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 320px;
    width: 573px;
    margin: 3rem auto;
    border-radius: 10px;
    top: 195px;
  }
}

@media (min-width: 1440px) {
  .uncompromising__container--img {
    background-image: url("../assets/about/desktop/image-quality.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 767px;
    width: 512px;
    margin: 3rem auto;
    border-radius: 10px;
    left: 360px;
    top: 560px;
  }
}

.uncompromising__container--box1 {
  width: 327px;
  height: 509px;
  background-color: #343e4c;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .uncompromising__container--box1 {
    width: 688px;
    height: 488px;
  }
}

@media (min-width: 1440px) {
  .uncompromising__container--box1 {
    width: 1320px;
    height: 562px;
  }
}

.uncompromising__container--title {
  font-family: "Fraunces", serif;
  font-weight: bold;
  font-size: 2rem;
  padding-top: 6rem;
  text-align: center;
  color: #fefcf7;
  width: 279px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .uncompromising__container--title {
    width: 60%;
    font-size: 1.8rem;
    padding-top: 12rem;
  }
}

@media (min-width: 1440px) {
  .uncompromising__container--title {
    padding-top: 7rem;
    font-size: 2.5rem;
    margin-left: 2rem;
    text-align: unset;
    width: 493px;
  }
}

.uncompromising__container--description {
  font-family: "Barlow", sans-serif;
  color: #fefcf7;
  padding-top: 2rem;
  text-align: center;
  margin: 0 auto;
  line-height: 25px;
  width: 279px;
}

@media (min-width: 768px) {
  .uncompromising__container--description {
    width: 540px;
    line-height: 25px;
  }
}

@media (min-width: 1440px) {
  .uncompromising__container--description {
    font-size: 1.3rem;
    width: 700px;
    margin-left: 2rem;
    line-height: 35px;
    text-align: unset;
  }
}

@media (min-width: 768px) {
  .headquarters__container {
    margin: 5rem auto;
  }
}

.headquarters__container--title {
  font-family: "Fraunces", serif;
  font-weight: bold;
  color: #848990;
  margin: 4rem auto;
  text-align: center;
}

@media (min-width: 768px) {
  .headquarters__container--title {
    text-align: left;
    margin-left: 3rem;
  }
}

@media (min-width: 1440px) {
  .headquarters__container--title {
    font-size: 3rem;
    margin-left: 6rem;
  }
}

#locations__container {
  margin: 0 auto;
}

@media (min-width: 768px) {
  #locations__container {
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin: 1rem auto;
  }
}

@media (min-width: 1440px) {
  #locations__container {
    width: 1200px;
    margin-left: 1rem;
  }
}

.location__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .location__container {
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
  }
}

.location__container--img {
  width: 35.28px;
  height: 49px;
  margin-bottom: 2rem;
}

.location__container--title {
  font-family: "Fraunces", serif;
  font-weight: bold;
  font-size: 2rem;
  color: #343e4c;
  text-align: center;
  margin-bottom: 2rem;
}

.location__container--description {
  font-family: "Barlow", sans-serif;
  text-align: center;
  width: 125px;
  margin-bottom: 2rem;
  line-height: 30px;
}

.footer__container {
  height: 418px;
  width: 327px;
  margin: 2rem auto;
  background-color: #343e4c;
}

@media (min-width: 768px) {
  .footer__container {
    width: 688px;
    height: 270px;
  }
}

@media (min-width: 1440px) {
  .footer__container {
    width: 1280px;
    height: 120px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer__container--links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding-top: 8rem;
}

@media (min-width: 768px) {
  .footer__container--links {
    padding-top: unset;
  }
}

@media (min-width: 1440px) {
  .footer__container--links {
    padding-top: unset;
  }
}

.footer__container--icons {
  width: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 2rem auto;
  cursor: pointer;
}

@media (min-width: 768px) {
  .footer__container--links ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 6rem;
  }
}

@media (min-width: 1440px) {
  .footer__container--links ul {
    margin-top: unset;
  }
}

.parent {
  list-style: none;
}
/*# sourceMappingURL=about.css.map */