* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2rem;
}

.navbar-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar li {
  list-style: none;
}

.navbar-item {
  text-decoration: none;
  display: block;
  margin-right: 0.5rem;
  padding: 0.8rem;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  color: #848990;
}

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30px;
  height: auto;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  margin-top: 2rem;
}

input[type="checkbox"] {
  display: none;
  visibility: hidden;
}

.middle {
  height: 3px;
  width: 1.875rem;
  background-color: black;
  border-radius: 3.125rem;
  position: absolute;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.top {
  bottom: 5px;
  height: 3px;
  width: 1.875rem;
  background-color: black;
  border-radius: 3.125rem;
  position: absolute;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.bottom {
  top: 10px;
  height: 3px;
  width: 1.875rem;
  background-color: black;
  border-radius: 3.125rem;
  position: absolute;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

input[type="checkbox"]:checked ~ .toggle-button .top {
  -webkit-transform: rotate(-50deg);
          transform: rotate(-50deg);
  width: 1.56rem;
  -webkit-transform-origin: right;
          transform-origin: right;
  top: -10px;
}

input[type="checkbox"]:checked ~ .toggle-button .bottom {
  -webkit-transform: rotate(50deg);
          transform: rotate(50deg);
  width: 1.56rem;
  -webkit-transform-origin: right;
          transform-origin: right;
  top: 10px;
}

input[type="checkbox"]:checked ~ .toggle-button .middle {
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px);
  opacity: 0;
}

.hero__container {
  background-image: url("../assets/home/mobile/image-hero-coffeepress.jpg");
  background-position: center;
  background-size: contain;
  height: 500px;
  width: 327px;
  margin: 3rem auto;
  border-radius: 10px;
}

@media (min-width: 768px) {
  .hero__container {
    background-image: url("../assets/home/tablet/image-hero-coffeepress.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 500px;
    width: 689px;
    margin: 3rem auto;
    border-radius: 10px;
  }
}

@media (min-width: 768px) and (min-width: 1440px) {
  .hero__container {
    background-image: url("../assets/home/desktop/image-hero-coffeepress.jpg");
    width: 1280px;
    height: 600px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.hero__container--title {
  font-family: "Fraunces", serif;
  font-weight: bold;
  font-size: 2.5rem;
  padding-top: 6rem;
  text-align: center;
  color: #fefcf7;
}

@media (min-width: 768px) {
  .hero__container--title {
    width: 60%;
    font-size: 3.5rem;
  }
}

@media (min-width: 1440px) {
  .hero__container--title {
    font-size: 4.5rem;
    width: 493px;
  }
}

.hero__container--description {
  font-family: "Barlow", sans-serif;
  color: #fefcf7;
  padding-top: 2rem;
  text-align: center;
  margin: 0 auto;
  line-height: 25px;
}

@media (min-width: 768px) {
  .hero__container--description {
    width: 64%;
    float: left;
    margin-left: 2rem;
    line-height: 25px;
    text-align: left;
  }
}

@media (min-width: 1440px) {
  .hero__container--description {
    font-size: 1.3rem;
    width: 41%;
    line-height: 35px;
  }
}

.hero__container--button {
  margin-top: 2rem;
  margin-left: 3rem;
  width: 217px;
  height: 56px;
  background-color: #0e8684;
  font-family: "Fraunces", serif;
  font-weight: bold;
  font-size: 1.2rem;
  color: #fefcf7;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.collection__container {
  width: 375px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  margin-bottom: 5rem;
}

.collection__container--box {
  position: relative;
}

.collection__container--title {
  font-family: "Fraunces", serif;
  font-weight: bold;
  text-align: center;
  font-size: 2rem;
  color: #848990;
}

@media (min-width: 768px) {
  .collection__container--title {
    font-size: 6rem;
    width: 689px;
  }
}

@media (min-width: 1440px) {
  .collection__container--title {
    font-size: 10rem;
    width: 1111px;
  }
}

.collection__container--gradient {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(25%, rgba(254, 252, 247, 0.7)), to(rgba(254, 247, 247, 0)));
  background: linear-gradient(to top, rgba(254, 252, 247, 0.7) 25%, rgba(254, 247, 247, 0) 100%);
}

@media (min-width: 768px) {
  #products__container {
    position: relative;
    bottom: 50px;
  }
}

@media (min-width: 1440px) {
  #products__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.coffee__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) {
  .coffee__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 1440px) {
  .coffee__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.coffee__container--img {
  height: 151px;
  width: 200px;
  margin: 1.5rem auto;
}

@media (min-width: 1440px) {
  .coffee__container--img {
    width: 255px;
    height: 193px;
    margin-bottom: 3rem;
  }
}

.coffee__container--title {
  font-family: "Fraunces", serif;
  font-weight: bold;
  font-size: 2rem;
  color: #343e4c;
  margin-bottom: 1rem;
  text-align: center;
}

@media (min-width: 768px) {
  .coffee__container--title {
    width: 255px;
  }
}

@media (min-width: 1440px) {
  .coffee__container--title {
    margin: 2rem auto;
  }
}

.coffee__container--description {
  font-family: "Barlow", sans-serif;
  text-align: center;
  margin: auto;
  width: 75%;
}

@media (min-width: 768px) {
  .coffee__container--description {
    width: 282px;
    text-align: left;
    line-height: 25px;
  }
}

@media (min-width: 1440px) {
  .coffee__container--description {
    font-size: 1.5rem;
    text-align: center;
    width: 255px;
    margin-left: 1rem;
  }
}

.chooseus__container {
  width: 327px;
  height: 902px;
  margin: 0 auto;
  background-color: #343e4c;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .chooseus__container {
    width: 688px;
  }
}

@media (min-width: 1440px) {
  .chooseus__container {
    width: 1200px;
  }
}

.chooseus__container--title {
  font-family: "Fraunces", serif;
  font-weight: bold;
  font-size: 2rem;
  color: #fefcf7;
  padding-top: 3.5rem;
  margin-bottom: 2rem;
}

.chooseus__container--description {
  font-family: "Barlow", sans-serif;
  text-align: center;
  width: 91%;
  line-height: 25px;
  color: #fefcf7;
}

@media (min-width: 768px) {
  .chooseus__container--description {
    width: 78%;
  }
}

@media (min-width: 1440px) {
  .chooseus__container--description {
    width: 44%;
    line-height: 45px;
  }
}

#benefits__container {
  height: 90vh;
}

@media (min-width: 768px) {
  #benefits__container {
    height: 10vh;
  }
}

@media (min-width: 1440px) {
  #benefits__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.benefit__container {
  width: 279px;
  height: 382px;
  background-color: #0e8684;
  padding-bottom: 2rem;
  margin: 2rem auto;
  border-radius: 10px;
  position: relative;
  bottom: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (min-width: 768px) {
  .benefit__container {
    width: 573px;
    height: 180px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 1440px) {
  .benefit__container {
    width: 350px;
    height: 382px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 768px) {
  .benefit__container .benefit__container--tabletBox {
    width: 50vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: left;
  }
}

@media (min-width: 1440px) {
  .benefit__container .benefit__container--tabletBox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 80%;
    text-align: center;
    margin: 2rem auto;
  }
}

.benefit__container--img {
  width: 71px;
  height: 72px;
  margin-top: 1rem;
}

.benefit__container--title {
  font-family: "Fraunces", serif;
  font-weight: bold;
  font-size: 2rem;
  color: #fefcf7;
  text-align: center;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .benefit__container--title {
    text-align: unset;
    margin: unset;
    margin-top: 2rem;
    margin-left: 0.5rem;
  }
}

@media (min-width: 1440px) {
  .benefit__container--title {
    margin: 0 auto;
  }
}

.benefit__container--description {
  font-family: "Barlow", sans-serif;
  color: #fefcf7;
  text-align: center;
  width: 76%;
  margin: 2rem auto;
}

@media (min-width: 768px) {
  .benefit__container--description {
    text-align: left;
    width: 95%;
    margin-top: 2rem;
    line-height: 25px;
  }
}

@media (min-width: 1440px) {
  .benefit__container--description {
    text-align: center;
    margin: 2rem auto;
    width: 90%;
  }
}

.works__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .works__container {
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
  }
}

.works__container--title {
  font-family: "Fraunces", serif;
  font-weight: bold;
  color: #848990;
  margin-bottom: 5rem;
  margin-top: 4rem;
}

@media (min-width: 768px) {
  .works__container--title {
    margin-left: 2rem;
    margin-top: 5rem;
    margin-bottom: 10rem;
  }
}

@media (min-width: 1440px) {
  .works__container--title {
    font-size: 3rem;
  }
}

#steps__container {
  text-align: center;
  margin: 0 auto;
}

@media (min-width: 768px) {
  #steps__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    text-align: unset;
  }
}

@media (min-width: 1440px) {
  #steps__container {
    width: 90vw;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.step__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 252px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media (min-width: 768px) {
  .step__container {
    margin-left: 1.2rem;
  }
}

.step__container--number {
  font-family: "Fraunces", serif;
  font-weight: bold;
  font-size: 4rem;
  color: #fdd6ba;
}

@media (min-width: 768px) {
  .step__container--number {
    margin-bottom: 2rem;
    font-size: 6rem;
  }
}

.step__container--title {
  font-family: "Fraunces", serif;
  font-weight: bold;
  font-size: 2rem;
}

@media (min-width: 768px) {
  .step__container--title {
    width: 223px;
    margin-bottom: 5rem;
  }
}

.step__container--description {
  font-family: "Barlow", sans-serif;
  line-height: 25px;
  width: 90%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .step__container--description {
    line-height: 35px;
    width: 100%;
  }
}

@media (min-width: 1440px) {
  .step__container--description {
    width: 285px;
  }
}

.step__container--button {
  background-color: #0e8684;
  width: 217px;
  height: 56px;
  border: none;
  border-radius: 8px;
  font-family: "Fraunces", serif;
  font-weight: bold;
  font-size: 1.2rem;
  color: #fefcf7;
  margin: 3rem auto;
  cursor: pointer;
}

@media (min-width: 768px) {
  .step__container--button {
    margin: 12rem auto;
    margin-left: 1rem;
  }
}

@media (min-width: 1440px) {
  .step__container--button {
    margin-left: 5rem;
  }
}

.footer__container {
  height: 418px;
  width: 327px;
  margin: 2rem auto;
  background-color: #343e4c;
}

@media (min-width: 768px) {
  .footer__container {
    width: 688px;
  }
}

@media (min-width: 1440px) {
  .footer__container {
    width: 1280px;
    height: 120px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer__container--links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding-top: 8rem;
}

@media (min-width: 1440px) {
  .footer__container--links {
    padding-top: unset;
  }
}

.footer__container--icons {
  width: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 2rem auto;
  cursor: pointer;
}

@media (min-width: 768px) {
  .footer__container--links ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 6rem;
  }
}

@media (min-width: 1440px) {
  .footer__container--links ul {
    margin-top: unset;
  }
}

.parent {
  list-style: none;
}

@media (max-width: 768px) {
  .toggle-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: -webkit-gradient(linear, left top, left bottom, from(#fefcf7), color-stop(55%, #fefcf7), to(rgba(254, 252, 247, 0.504981)));
    background: linear-gradient(#fefcf7, #fefcf7 55%, rgba(254, 252, 247, 0.504981));
    width: 80%;
    height: auto;
    margin: 2rem auto;
    text-align: center;
    display: none;
  }
  .navbar-links ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navbar-links.active {
    display: block;
    position: absolute;
    margin: 0 auto;
    top: 85px;
    left: 10%;
    padding-bottom: 2rem;
    font-size: 2rem;
    height: 80vh;
  }
}
/*# sourceMappingURL=index.css.map */