* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import "partial";

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
}

.navbar-links {
  display: flex;
  justify-content: space-between;
}

.navbar ul {
  display: flex;
}

.navbar li {
  list-style: none;
}

.navbar-item {
  text-decoration: none;
  display: block;
  margin-right: 0.5rem;
  padding: 0.8rem;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  color: $grey;
}

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: auto;
  cursor: pointer;
  transition: all 0.5s ease-out;
  margin-top: 2rem;
}

input[type="checkbox"] {
  display: none;
  visibility: hidden;
}

.middle {
  height: 3px;
  width: 1.875rem;
  background-color: black;
  border-radius: 3.125rem;
  position: absolute;
  transition: 0.3s ease;
}

.top {
  bottom: 5px;
  height: 3px;
  width: 1.875rem;
  background-color: black;
  border-radius: 3.125rem;
  position: absolute;
  transition: 0.3s ease;
}

.bottom {
  top: 10px;
  height: 3px;
  width: 1.875rem;
  background-color: black;
  border-radius: 3.125rem;
  position: absolute;
  transition: 0.3s ease;
}

input[type="checkbox"]:checked ~ .toggle-button .top {
  transform: rotate(-50deg);
  width: 1.56rem;
  transform-origin: right;
  top: -10px;
}

input[type="checkbox"]:checked ~ .toggle-button .bottom {
  transform: rotate(50deg);
  width: 1.56rem;
  transform-origin: right;
  top: 10px;
}

input[type="checkbox"]:checked ~ .toggle-button .middle {
  transform: translateX(-20px);
  opacity: 0;
}

.hero__container {
  background-image: url("../assets/home/mobile/image-hero-coffeepress.jpg");
  background-position: center;
  background-size: contain;
  height: 500px;
  width: 327px;
  margin: 3rem auto;
  border-radius: 10px;
  @include tablet {
    background-image: url("../assets/home/tablet/image-hero-coffeepress.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 500px;
    width: 689px;
    margin: 3rem auto;
    border-radius: 10px;
  }

  &--title {
    font-family: "Fraunces", serif;
    font-weight: bold;
    font-size: 2.5rem;
    padding-top: 6rem;
    text-align: center;
    color: $white-text;
    @include tablet {
      width: 60%;
      font-size: 3.5rem;
    }
  }

  &--description {
    font-family: "Barlow", sans-serif;
    color: $white-text;
    padding-top: 2rem;
    text-align: center;
    margin: 0 auto;
    line-height: 25px;
    @include tablet {
      width: 64%;
      float: left;
      margin-left: 2rem;
      line-height: 25px;
      text-align: left;
    }
  }

  &--button {
    margin-top: 2rem;
    margin-left: 3rem;
    width: 217px;
    height: 56px;
    background-color: $darkcyan;
    font-family: "Fraunces", serif;
    font-weight: bold;
    font-size: 1.2rem;
    color: $white-text;
    border: none;
    border-radius: 5px;
  }
}

.collection__container {
  width: 375px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 5rem;
  &--box {
    position: relative;
  }

  &--title {
    font-family: "Fraunces", serif;
    font-weight: bold;
    text-align: center;
    font-size: 2rem;
    color: $grey;
    @include tablet {
      font-size: 6rem;
      width: 689px;
    }
  }
  &--gradient {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to top,
      rgba(254, 252, 247, 0.7) 25%,
      rgba(254, 247, 247, 0) 100%
    );
  }
}

#products__container {
  @include tablet {
    position: relative;
    bottom: 50px;
  }
}

.coffee__container {
  display: flex;
  flex-direction: column;
  @include tablet {
    flex-direction: row;
    align-items: center;
  }

  &--img {
    height: 151px;
    width: 200px;
    margin: 1.5rem auto;
  }

  &--title {
    font-family: "Fraunces", serif;
    font-weight: bold;
    font-size: 2rem;
    color: $darkgreyblue;
    margin-bottom: 1rem;
    text-align: center;
    @include tablet {
      width: 255px;
    }
  }

  &--description {
    font-family: "Barlow", sans-serif;
    text-align: center;
    margin: auto;
    width: 75%;
    @include tablet {
      width: 282px;
      text-align: left;
      line-height: 25px;
    }
  }
}

.chooseus__container {
  width: 327px;
  height: 902px;
  margin: 0 auto;
  background-color: $darkgreyblue;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include tablet {
    width: 688px;
  }
  &--title {
    font-family: "Fraunces", serif;
    font-weight: bold;
    font-size: 2rem;
    color: $white-text;
    padding-top: 3.5rem;
    margin-bottom: 2rem;
  }
  &--description {
    font-family: "Barlow", sans-serif;
    text-align: center;
    width: 91%;
    line-height: 25px;
    color: $white-text;
    @include tablet {
      width: 78%;
    }
  }
}

#benefits__container {
  height: 90vh;
}

.benefit__container {
  width: 279px;
  height: 382px;
  background-color: $darkcyan;
  padding-bottom: 2rem;
  margin: 2rem auto;
  border-radius: 10px;
  position: relative;
  bottom: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  @include tablet {
    width: 573px;
    flex-direction: row;
  }
  .benefit__container--tabletBox {
    @include tablet {
      width: 50vw;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      text-align: left;
    }
  }

  &--img {
    width: 71px;
    height: 72px;
    margin-top: 1rem;
  }

  &--title {
    font-family: "Fraunces", serif;
    font-weight: bold;
    font-size: 2rem;
    color: $white-text;
  }

  &--description {
    font-family: "Barlow", sans-serif;
    color: $white-text;
    text-align: center;
    width: 76%;
    @include tablet {
      text-align: left;
      width: 95%;
      margin-top: 2rem;
      line-height: 25px;
    }
  }
}
.works__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include tablet {
    align-items: unset;
  }
  &--title {
    font-family: "Fraunces", serif;
    font-weight: bold;
    color: $grey;
    margin-bottom: 5rem;
    margin-top: 4rem;
    @include tablet {
      float: left;
      margin-left: 2rem;
      margin-top: 5rem;
      margin-bottom: 10rem;
    }
  }
}

#steps__container {
  text-align: center;
  margin: 0 auto;
  @include tablet {
    display: flex;
    align-items: baseline;
    text-align: unset;
  }
}

.step__container {
  display: flex;
  flex-direction: column;
  height: 252px;
  justify-content: space-evenly;
  @include tablet {
    align-items: center;
  }
  &--number {
    font-family: "Fraunces", serif;
    font-weight: bold;
    font-size: 4rem;
    color: $paleorange;
    @include tablet {
      margin: 3rem auto;
      //   margin-left: 1rem;
      font-size: 6rem;
    }
  }
  &--title {
    font-family: "Fraunces", serif;
    font-weight: bold;
    font-size: 2rem;
    @include tablet {
      width: 223px;
      margin-bottom: 5rem;
    }
  }
  &--description {
    font-family: "Barlow", sans-serif;
    line-height: 25px;
    width: 90%;
    margin: 0 auto;
    @include tablet {
      line-height: 35px;
    }
  }
  &--button {
    background-color: $darkcyan;
    width: 217px;
    height: 56px;
    border: none;
    border-radius: 8px;
    font-family: "Fraunces", serif;
    font-weight: bold;
    font-size: 1.2rem;
    color: $white-text;
    margin: 3rem auto;
    @include tablet {
      margin: 12rem auto;
      margin-left: 1rem;
    }
  }
}

.footer__container {
  height: 418px;
  width: 327px;
  margin: 2rem auto;
  background-color: $darkgreyblue;

  &--links {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 8rem;
  }

  &--icons {
    width: 120px;
    display: flex;
    justify-content: space-between;
    margin: 2rem auto;
  }
}

.parent {
  list-style: none;
}

@media (max-width: 765px) {
  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
  }
}
