* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2rem;
}

.navbar-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar li {
  list-style: none;
}

.navbar-item {
  text-decoration: none;
  display: block;
  margin-right: 0.5rem;
  padding: 0.8rem;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  color: #848990;
}

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30px;
  height: auto;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  margin-top: 2rem;
}

input[type="checkbox"] {
  display: none;
  visibility: hidden;
}

.middle {
  height: 3px;
  width: 1.875rem;
  background-color: black;
  border-radius: 3.125rem;
  position: absolute;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.top {
  bottom: 5px;
  height: 3px;
  width: 1.875rem;
  background-color: black;
  border-radius: 3.125rem;
  position: absolute;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.bottom {
  top: 10px;
  height: 3px;
  width: 1.875rem;
  background-color: black;
  border-radius: 3.125rem;
  position: absolute;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

input[type="checkbox"]:checked ~ .toggle-button .top {
  -webkit-transform: rotate(-50deg);
          transform: rotate(-50deg);
  width: 1.56rem;
  -webkit-transform-origin: right;
          transform-origin: right;
  top: -10px;
}

input[type="checkbox"]:checked ~ .toggle-button .bottom {
  -webkit-transform: rotate(50deg);
          transform: rotate(50deg);
  width: 1.56rem;
  -webkit-transform-origin: right;
          transform-origin: right;
  top: 10px;
}

input[type="checkbox"]:checked ~ .toggle-button .middle {
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px);
  opacity: 0;
}

.hero__container {
  background-image: url("../assets/home/mobile/image-hero-coffeepress.jpg");
  background-position: center;
  background-size: contain;
  height: 500px;
  width: 327px;
  margin: 3rem auto;
  border-radius: 10px;
}

@media (min-width: 768px) {
  .hero__container {
    background-image: url("../assets/home/tablet/image-hero-coffeepress.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 500px;
    width: 689px;
    margin: 3rem auto;
    border-radius: 10px;
  }
}

.hero__container--title {
  font-family: "Fraunces", serif;
  font-weight: bold;
  font-size: 2.5rem;
  padding-top: 6rem;
  text-align: center;
  color: #fefcf7;
}

@media (min-width: 768px) {
  .hero__container--title {
    width: 60%;
    font-size: 3.5rem;
  }
}

.hero__container--description {
  font-family: "Barlow", sans-serif;
  color: #fefcf7;
  padding-top: 2rem;
  text-align: center;
  margin: 0 auto;
  line-height: 25px;
}

@media (min-width: 768px) {
  .hero__container--description {
    width: 64%;
    float: left;
    margin-left: 2rem;
    line-height: 25px;
    text-align: left;
  }
}

.hero__container--button {
  margin-top: 2rem;
  margin-left: 3rem;
  width: 217px;
  height: 56px;
  background-color: #0e8684;
  font-family: "Fraunces", serif;
  font-weight: bold;
  font-size: 1.2rem;
  color: #fefcf7;
  border: none;
  border-radius: 5px;
}

.collection__container {
  width: 375px;
  height: 1321px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.collection__container--box {
  position: relative;
}

.collection__container--title {
  font-family: "Fraunces", serif;
  font-weight: bold;
  text-align: center;
  font-size: 2rem;
  color: #848990;
}

.collection__container--gradient {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(25%, rgba(254, 252, 247, 0.7)), to(rgba(254, 247, 247, 0)));
  background: linear-gradient(to top, rgba(254, 252, 247, 0.7) 25%, rgba(254, 247, 247, 0) 100%);
}

.coffee__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.coffee__container--img {
  height: 151px;
  width: 200px;
  margin: 1.5rem auto;
}

.coffee__container--title {
  font-family: "Fraunces", serif;
  font-weight: bold;
  font-size: 2rem;
  color: #343e4c;
  margin-bottom: 1rem;
  text-align: center;
}

.coffee__container--description {
  font-family: "Barlow", sans-serif;
  text-align: center;
  margin: auto;
  width: 75%;
}

.chooseus__container {
  width: 327px;
  height: 902px;
  margin: 0 auto;
  background-color: #343e4c;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chooseus__container--title {
  font-family: "Fraunces", serif;
  font-weight: bold;
  font-size: 2rem;
  color: #fefcf7;
  padding-top: 3.5rem;
  margin-bottom: 2rem;
}

.chooseus__container--description {
  font-family: "Barlow", sans-serif;
  text-align: center;
  width: 91%;
  line-height: 25px;
  color: #fefcf7;
}

#benefits__container {
  height: 90vh;
}

.benefit__container {
  width: 279px;
  height: 382px;
  background-color: #0e8684;
  padding-bottom: 2rem;
  margin: 2rem auto;
  border-radius: 10px;
  position: relative;
  bottom: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.benefit__container--img {
  width: 71px;
  height: 72px;
  margin-top: 1rem;
}

.benefit__container--title {
  font-family: "Fraunces", serif;
  font-weight: bold;
  font-size: 2rem;
  color: #fefcf7;
}

.benefit__container--description {
  font-family: "Barlow", sans-serif;
  color: #fefcf7;
  text-align: center;
  width: 76%;
}

.works__container {
  height: 1116px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.works__container--title {
  font-family: "Fraunces", serif;
  font-weight: bold;
  color: #848990;
  margin-bottom: 5rem;
  margin-top: 4rem;
}

#steps__container {
  text-align: center;
  margin: 0 auto;
}

.step__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 252px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.step__container--number {
  font-family: "Fraunces", serif;
  font-weight: bold;
  font-size: 4rem;
  color: #fdd6ba;
}

.step__container--title {
  font-family: "Fraunces", serif;
  font-weight: bold;
  font-size: 2rem;
}

.step__container--description {
  font-family: "Barlow", sans-serif;
  line-height: 25px;
  width: 90%;
  margin: 0 auto;
}

.step__container--button {
  background-color: #0e8684;
  width: 217px;
  height: 56px;
  border: none;
  border-radius: 8px;
  font-family: "Fraunces", serif;
  font-weight: bold;
  font-size: 1.2rem;
  color: #fefcf7;
  margin-top: 3rem;
}

.footer__container {
  height: 418px;
  width: 327px;
  margin: 2rem auto;
  background-color: #343e4c;
}

.footer__container--links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding-top: 8rem;
}

.footer__container--icons {
  width: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 2rem auto;
}

.parent {
  list-style: none;
}

@media (max-width: 765px) {
  .toggle-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar-links {
    display: none;
  }
}
/*# sourceMappingURL=index.css.map */