* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2rem;
  width: 90vw;
  margin: 0 auto;
}

.navbar-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar li {
  list-style: none;
}

.navbar-item {
  text-decoration: none;
  display: block;
  margin-right: 0.5rem;
  padding: 0.8rem;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  color: #848990;
}

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30px;
  height: auto;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  margin-top: 2rem;
}

input[type="checkbox"] {
  display: none;
  visibility: hidden;
}

.middle {
  height: 3px;
  width: 1.875rem;
  background-color: black;
  border-radius: 3.125rem;
  position: absolute;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.top {
  bottom: 5px;
  height: 3px;
  width: 1.875rem;
  background-color: black;
  border-radius: 3.125rem;
  position: absolute;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.bottom {
  top: 10px;
  height: 3px;
  width: 1.875rem;
  background-color: black;
  border-radius: 3.125rem;
  position: absolute;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

input[type="checkbox"]:checked ~ .toggle-button .top {
  -webkit-transform: rotate(-50deg);
          transform: rotate(-50deg);
  width: 1.56rem;
  -webkit-transform-origin: right;
          transform-origin: right;
  top: -10px;
}

input[type="checkbox"]:checked ~ .toggle-button .bottom {
  -webkit-transform: rotate(50deg);
          transform: rotate(50deg);
  width: 1.56rem;
  -webkit-transform-origin: right;
          transform-origin: right;
  top: 10px;
}

input[type="checkbox"]:checked ~ .toggle-button .middle {
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px);
  opacity: 0;
}

@media (max-width: 768px) {
  .toggle-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: -webkit-gradient(linear, left top, left bottom, from(#fefcf7), color-stop(55%, #fefcf7), to(rgba(254, 252, 247, 0.504981)));
    background: linear-gradient(#fefcf7, #fefcf7 55%, rgba(254, 252, 247, 0.504981));
    width: 80%;
    height: auto;
    margin: 2rem auto;
    text-align: center;
    display: none;
  }
  .navbar-links ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navbar-links.active {
    display: block;
    position: absolute;
    margin: 0 auto;
    top: 85px;
    left: 0%;
    padding-bottom: 2rem;
    font-size: 2rem;
    height: 65vh;
    width: 100%;
  }
}

.hero__container {
  background-image: url("../assets/plan/mobile/image-hero-blackcup.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 400px;
  width: 327px;
  margin: 3rem auto;
  border-radius: 10px;
}

@media (min-width: 768px) {
  .hero__container {
    background-image: url("../assets/plan/tablet/image-hero-blackcup.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 400px;
    width: 689px;
    margin: 3rem auto;
    border-radius: 10px;
  }
}

@media (min-width: 768px) and (min-width: 1440px) {
  .hero__container {
    background-image: url("../assets/plan/desktop/image-hero-blackcup.jpg");
    width: 1280px;
    height: 450px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.hero__container--title {
  font-family: "Fraunces", serif;
  font-weight: bold;
  font-size: 2.5rem;
  padding-top: 6rem;
  text-align: center;
  color: #fefcf7;
}

@media (min-width: 768px) {
  .hero__container--title {
    width: 60%;
    font-size: 3.5rem;
    text-align: left;
    margin-left: 2rem;
  }
}

@media (min-width: 1440px) {
  .hero__container--title {
    font-size: 4.5rem;
    width: 493px;
  }
}

.hero__container--description {
  font-family: "Barlow", sans-serif;
  color: #fefcf7;
  padding-top: 2rem;
  text-align: center;
  margin: 0 auto;
  line-height: 25px;
  width: 279px;
  font-size: 15px;
}

@media (min-width: 768px) {
  .hero__container--description {
    width: 64%;
    float: left;
    margin-left: 2rem;
    line-height: 25px;
    text-align: left;
  }
}

@media (min-width: 1440px) {
  .hero__container--description {
    font-size: 1.3rem;
    width: 41%;
    line-height: 35px;
  }
}

@media (min-width: 768px) {
  #processes__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.process__container {
  background-color: #343e4c;
  width: 375px;
  height: 1028px;
  border-radius: 10px;
  margin: 5rem auto;
}

@media (min-width: 768px) {
  .process__container {
    width: 768px;
    height: 640px;
  }
}

.steps__container {
  padding-top: 3rem;
  margin: 3rem auto;
  text-align: center;
}

@media (min-width: 768px) {
  .steps__container {
    width: 238px;
    text-align: left;
    margin-top: 7rem;
    margin-left: 1.5rem;
  }
}

.steps__container--number {
  font-size: 3rem;
  font-family: "Fraunces", serif;
  font-weight: bold;
  color: #fdd6ba;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .steps__container--number {
    font-size: 4rem;
  }
}

.steps__container--title {
  font-size: 2rem;
  font-family: "Fraunces", serif;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #fefcf7;
}

.steps__container--description {
  font-family: "Barlow", sans-serif;
  color: #fefcf7;
  width: 327px;
  margin: 0 auto;
  line-height: 25px;
}

@media (min-width: 768px) {
  .steps__container--description {
    width: 223px;
    margin: unset;
  }
}

.question__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 auto;
  width: 375px;
  cursor: pointer;
}

@media (min-width: 768px) {
  .question__container {
    width: 689px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.question__container--title {
  font-size: 1.7rem;
  font-family: "Fraunces", serif;
  font-weight: bold;
  width: 240px;
  color: #848990;
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .question__container--title {
    width: unset;
  }
}

.box {
  margin-bottom: 5rem;
}

input[type="radio"] {
  opacity: 0;
}

.options__container {
  display: none;
}

.options__container--option {
  width: 328px;
  height: 140px;
  background-color: #f4f1eb;
  margin: 2rem auto;
  border-radius: 5px;
  cursor: pointer;
}

@media (min-width: 768px) {
  .options__container--option {
    width: 223px;
    height: 250px;
  }
}

.options__container--title {
  font-family: "Fraunces", serif;
  font-weight: bold;
  font-size: 24px;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .options__container--title {
    margin-top: 1.3rem;
    margin-left: 1.2rem;
  }
}

.options__container--description {
  margin-left: 1rem;
  width: 278px;
  line-height: 25px;
  font-family: "Barlow", sans-serif;
}

@media (min-width: 768px) {
  .options__container--description {
    width: 172px;
    margin-left: 1.2rem;
  }
}

.options__container.open {
  display: block;
}

@media (min-width: 768px) {
  .options__container.open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.options__container--option:hover {
  background-color: #fdd6ba;
}

.options__container--option.active {
  background-color: #0e8784;
}

.summary__container {
  width: 328px;
  height: 450px;
  background-color: #343e4c;
  margin: 0 auto;
  border-radius: 10px;
  margin-bottom: 3rem;
}

@media (min-width: 768px) {
  .summary__container {
    width: 689px;
    height: 208px;
  }
}

.summary__container--title {
  font-family: "Barlow", sans-serif;
  font-weight: 300;
  color: #848990;
  padding-top: 2rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.summary__container--description {
  color: #fefcf7;
  font-family: "Fraunces", serif;
  font-weight: bold;
  font-size: 25px;
  width: 260px;
  margin-left: 1rem;
  line-height: 4rem;
}

@media (min-width: 768px) {
  .summary__container--description {
    width: 602px;
    height: 154px;
  }
}

.summary__container--text {
  color: #0e8684;
}

.button__container {
  text-align: center;
  margin-bottom: 7rem;
}

.button__container--btn {
  width: 217px;
  height: 56px;
  background-color: #0e8684;
  color: white;
  font-family: "Fraunces", serif;
  font-weight: bold;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
}

.footer__container {
  height: 418px;
  width: 327px;
  margin: 2rem auto;
  background-color: #343e4c;
}

@media (min-width: 768px) {
  .footer__container {
    width: 688px;
    height: 270px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media (min-width: 1440px) {
  .footer__container {
    width: 1280px;
    height: 120px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer__container--links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding-top: 8rem;
}

@media (min-width: 768px) {
  .footer__container--links {
    padding-top: unset;
  }
}

@media (min-width: 1440px) {
  .footer__container--links {
    padding-top: unset;
  }
}

.footer__container--icons {
  width: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 2rem auto;
  cursor: pointer;
}

.footer__container--svg {
  margin: 0 auto;
  padding-top: 20px;
}

@media (min-width: 768px) {
  .footer__container--links ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 1440px) {
  .footer__container--links ul {
    margin-top: unset;
  }
}

.parent {
  list-style: none;
}
/*# sourceMappingURL=plan.css.map */